
body {
    background-image: url("../img/background-soldats.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.text-offer {
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 25px;
    width: 60%;
    text-align: center;
    margin-top: 15%;
    margin-left: 18%;
    padding: 30px;
    margin-bottom: 3%;
}

a.button-2 {
    margin-left: 45%;
    color: white; 
    text-decoration: none; 
    background: #B22222; 
    padding: .7em 1.5em; 
} 

a.button-2:hover {
    background: #FF0000; 
} 

a.button-2:active {
    background: #8B0000; 
} 

.comments{
    padding-left: 17%;
	padding-right: 17%;
	padding-bottom: 3%;
	background-color: black;
	float: center;
	padding-top: 5%;
	margin-top: 12%;
}


.share-bar .thread-share-bar-buttons {
    display: -ms-flexbox;
    display: none;
    -ms-flex-direction: row;
    flex-direction: row;
}