
/* main tools */
*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 100%;
    height: 100%
}


/* site header */


.header{
	position:  fixed;
	width: 100%;
	z-index: 50;
}

.header:before{
	content: '';
	position: absolute;
	width:  100%;
	height: 100%;
	background:black;
	border-bottom: 2px solid black;
	z-index: 2;
}

.container{
	max-width:  100%;
	margin: 0px auto;
	padding: 0px 0px;
}

.header__body {
    position: relative;
    display: flex;
    height: 72px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header__logo {
	display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
	position: relative;
	z-index: 3;
}

.header__logo img{
	max-width:  100%;
	margin-right: 15px;
}

.header__boorger{
	display:  none;
	position: relative;
	z-index: 3;
}

.header__menu{
	display:  flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

.header__menu a{
	display: inline-flex;
	width: 180px;
	justify-content: center;
	align-items: center;
	height: 75px;
}

.header__list{
	display:  flex;
	position:  relative;
	z-index: 2;
	align-items: center;
	margin: 0px;
}

.header__list li{
	height: 100%;
	text-align: center;
	font-family: "Mplus1p-Bold";
	list-style: none;
	margin: 0px 0px 0px 20px;
}

.header__link {
	width: 100%;
	text-decoration:  none;
	color: white;
	text-transform: uppercase;
	font-size:  18px;
}

.header__link:hover{
	color: black;
	background-color: #bd0000;
}


/* adaptation header */


@media (max-width: 1050px){

	.header__menu ul li a{
		display: inline-flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		height: 60px;
		font-size:  16px;
	}
	
	.header__boorger{
		display:  block;
		position: relative;
		width:  30px;
		height:  20px;
	}
	
	.header__boorger span{
		position: absolute;
		background-color: white;
		position:  absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top:  9px;
		transition: all 0.3s ease 0s;
	}
	
	.header__boorger:before,
	.header__boorger:after{
		content: '';
		background-color: white;
		position:  absolute;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
	}

	.header__boorger:before{
		top: 0;
	}

	.header__boorger:after{
		bottom:  0;
	}
	
	.header__boorger.active:before{
			transform: rotate(45deg);
			top: 9px;
	}

	.header__boorger.active:after{
			transform: rotate(-45deg);
			bottom: 9px;
	}
	
	.header__boorger.active span{
			transform: scale(0);
	}

	.header__body {
		display: flex;
		height: 72px;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0px 15px;
	}

	.header__menu{
		position:  fixed;
			top: -100%;
			left: 0;
			transition: all 0.3s ease 0s;
			width: 100%;
			height: 100%;
			background-color: grey;
			display: block;
			margin-top: 65px;
	}
	
	.header__menu.active{
		top: 0;
		transition: all 0.3s ease 0s;
	}
	

	.header__list{
		padding-top: 10px;
		padding-left: 0px;
		display: block;
		margin-left: 0px;
	}

	.header__list li{
		margin: 0px 0px 20px 0px;
	}
		
}


